@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-teal/10;
  }

  body {
    @apply bg-surface text-slate-200 antialiased;
  }

  ::selection {
    @apply bg-teal/30 text-white;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
